body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

input[type="text"] { 
    border: none;
    outline: none;
    text-align: center;
    width: 100%;
    background: transparent; 
    padding-top: 6px;
    padding-bottom: 5px;
}


.works-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.work-card {
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s;
}

.work-card:hover {
    transform: translateY(-2.5px);
}

.award {
    color: #FFD700;
    /* Золотой цвет для наград */
}

.error-container {
    text-align: center;
    padding: 40px;
    max-width: 600px;
    margin: 0 auto;
}

.error-container h2 {
    color: #dc3545;
    margin-bottom: 20px;
}

.search-form {
    width: 50%;
    text-align: center;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.20);
    border-radius: 8px;
    margin: 0 auto; 
    box-sizing: border-box; 
}

.university-form {
    width: 100%;
}

select {
    padding: 5px;
    margin-right: 15px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.20);
    border-radius: 8px;
}

.filter-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-search-form {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

@media screen and (max-width: 1024px) {
    .filter-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }
    .header-search-form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }
    .search-form {
        width: 100%;
    }
    select {
        width: 100%;
        margin-right: 0px;
    }
    input[type="text"] {
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 10px; /* Оптимизация для мобильных */ /* Добавлен padding */
    }
}

